body {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  box-sizing: border-box;
}

main {
  position: relative;
  text-align: center;
  background: linear-gradient(-45deg, #1609d2, #a11ac3, #cb1957, #c8a00d);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  height: 76vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  background-color: #fff;
  box-shadow: 0 5px 50px rgba(0, 0, 0, .5);
  width: 50vw;
  height: 62vw;
  border-radius: 2vw;
  margin-top: 2vw;
  justify-content: space-evenly !important;
}

.form-title{
  height: 20%;
  height: 10%;
}

.form-title h2 {
  font-size: 4.5vw;
  color: #000;
  margin: -1vw;
}

.social-container{
  width: 50%;
}

.social-text p{
  color: #999;
  font-size: 1.8vw;
  margin: .5vw;
}

.social-media-links {
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  border-top: 2px solid #db3236;
  border-radius: 50px;
}

.social-media-links a {
  height: 5vw;
  width: 5vw;
  border-radius: 25px;
  transition: .4s;
}

.social-media-links a:nth-child(1) {
  border-bottom: 2px solid #3c5a99;
}

.social-media-links a:nth-child(2) {
  border-bottom: 2px solid #db3236;
}

.social-media-links a:nth-child(3) {
  border-bottom: 2px solid #0e76a8;
}

.facebook-link:hover {
  background-color: #3c5a99;
  box-shadow: 0 0 20px rgba(60, 90, 153, .8);
  border: 1px solid #3c5a99 !important;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.facebook-link:hover .facebook-icon {
  color: #fff !important;
}

.google-link:hover {
  background-color: #db3236;
  box-shadow: 0 0 20px rgba(219, 50, 54, .6);
  border: 1px solid #db3236 !important;
  border-radius: 0 0 50% 50%/  0 0 100% 100%;
}

.google-link:hover .google-icon {
  color: #fff !important;
}

.linkedin-link:hover {
  background-color: #0e76a8;
  box-shadow: 0 0 20px rgba(14, 118, 168, .8);
  border: 1px solid #0e76a8 !important;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;

}

.linkedin-link:hover .linkedin-icon {
  color: #fff !important;
}

.social-media-links i {
  color: #000;
  position: absolute;
  font-size: 3vw;
}

.user-info {
  width: 100%;
  height: 25%;
  justify-content: space-around;
}

.user-box {
  position: relative;
  width: 80%;
  line-height: 3.8vw;
}

.user-box input {
  width: 100%;
  line-height: inherit;
  font-size: 2vw;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #999;
  margin: 0;
  padding: 0;
}

.user-box label {
  position: absolute;
  color: #999;
  font-size: 2vw;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: .6s;
}

.user-box input:focus~label,
.user-box input:valid~label {
  top: -10px;
  font-size: 1.5vw;
  color: #7f00ff;
  text-shadow: 0px 0px 10px rgba(128, 0, 255, 0.35);
}

.user-box input:focus {
  border-bottom: 1.6px solid rgba(128, 0, 255, 0.5);
}


.container button {
  color: #fff;
  padding: .5vw 3.2vw;
  border-radius: 2vw;
  font-size: 3.2vw;
  background: linear-gradient(to right, #7f00ff, #e100ff);
  cursor: pointer;
  flex-direction: row;
  border: none;
  font-family: 'Fredoka One', cursive;
  transition: all .4s;
}

.wrapper {
  height: 10vw;
}
.wrapper a{
  text-decoration: none;
  color: #999;
  font-size: 1.8vw;
}

.wrapper p {
  margin: 0;
}

.waves {
  position: relative;
  width: 100%;
  margin-bottom: -7px;
  max-height: 150px;
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -4s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -5s;
  animation-duration: 9s;
}

.parallax>use:nth-child(3) {
  animation-delay: -6s;
  animation-duration: 11s;
}

.parallax>use:nth-child(4) {
  animation-delay: -7s;
  animation-duration: 13s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}